{% extends 'layout.html' %}

{% block content %}
<h4>About flaskproto:</h4>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}