{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col s8 offset-s2">
        <div class="card blue-grey darken-1">
            <form method="POST" enctype="multipart/form-data" action="">
                {{ form.hidden_tag() }}
                <div class="card-content">
                    <div class="card-title">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img src="{{ url_for('static', filename='img/profile-pictures/' + current_user.image_file) }}" alt="" class="circle responsive-img" longdesc="https://commons.wikimedia.org/w/index.php?title=User:Greasemann&action=edit&redlink=1">
                            </div>
                            <div class="col s10">
                                <h4>{{ current_user.username }}</h4>
                                <p>{{ current_user.email }}</p>
                            </div>
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="input-field col s12">
                            {% if form.username.errors %}
                                {{ form.username(placeholder='Username', class='invalid') }}
                                {{ form.username.label() }}
                                {% for error in form.username.errors %}
                                    <span class="helper-text">{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                {{ form.username(placeholder='Username') }}
                                {{ form.username.label() }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {% if form.email.errors %}
                                {{ form.email(placeholder='Email', class='invalid') }}
                                {{ form.email.label() }}
                                {% for error in form.email.errors %}
                                    <span class="helper-text">{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                {{ form.email(placeholder='Email') }}
                                {{ form.email.label() }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-field input-field col s12">
                            {% if form.picture.errors %}
                                <div class="btn">
                                    <span>{{ form.picture.label.text }}</span>
                                    {{ form.picture() }}
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path invalid" type="text" placeholder="Upload your profile picture.">
                                </div>
                                {% for error in form.picture.errors %}
                                    <span class="helper-text">{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                <div class="btn">
                                    <span>{{ form.picture.label.text }}</span>
                                    {{ form.picture() }}
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path" type="text" placeholder="Upload your profile picture.">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">update
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>            
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}