<!doctype html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>flask-proto</title>
  {% endif %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="{{ url_for('index') }}" class="brand-logo">flaskproto</a>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          
          {% if not current_user.is_authenticated %}
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li>
                <a href="{{ url_for('register') }}">register</a>
              </li>
              <li>
                <a href="{{ url_for('login') }}">login</a>
              </li>
            </ul>
          {% endif %}
          {% if current_user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
              <li><a id="sidenav-trigger"><i class="material-icons left">account_box</i>{{ current_user.username }}</a></li>
            </ul>
            <!-- <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" id="sidenav-trigger">
              <i class="material-icons">account_box</i>
            </a> -->
          {% endif %}
        </div>
      </nav>
    </div>
    {% if current_user.is_authenticated %}
      <ul id="sidenav-account" class="sidenav">
        <li><div class="user-view">
          <div class="background teal darken-4">
            
          </div>
          <a href="#user"><img class="circle" src="{{ url_for('static', filename='img/profile-pictures/' + current_user.image_file) }}"></a>
          <a href="#name"><span class="white-text name">{{ current_user.username }}</span></a>
          <a href="#email"><span class="white-text email">{{ current_user.email }}</span></a>
        </div></li>
        <li>
          <a href="{{ url_for('account') }}"><i class="material-icons">account_box</i>account</a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}"><i class="material-icons">exit_to_app</i>logout</a>
        </li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="{{ url_for('posts') }}"><i class="material-icons">view_list</i>manage posts</a></li>
      </ul>
    {% endif %}
  </header>
  <main>
    <div class="container">
      <div id="flashes" class="hide">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
        {% endwith %}
      </div>
      <div class="section">
        <div class="row">
          <div class="col s12 m12">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-action-btn" id="button-user">
       <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating red modal-trigger" href="#modal-chat"><i class="material-icons">chat</i></a></li>
      </ul>
    </div>
    <div id="modal-chat" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
      </div>
    </div>
  </main>
  <footer class="page-footer orange">
    <div class="container">
      <a class="orange-text text-lighten-3" href="https://github.com/peddn/flaskproto">flaskproto on GitHub</a>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/commons.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>