{% extends 'layout.html' %}

{% block content %}
        <h4>manage your posts</h4>                
        <div id="app"></div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/vendors-posts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/posts.js') }}"></script>
{% endblock %}