{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <form method="POST" action="" class="col s6 offset-s3">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Create your account:</span>
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="input-field col s12">
                        {% if form.username.errors %}
                            {{ form.username(placeholder='Username', class='invalid') }}
                            {{ form.username.label() }}
                            {% for error in form.username.errors %}
                                <span class="helper-text">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.username(placeholder='Username') }}
                            {{ form.username.label() }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {% if form.email.errors %}
                            {{ form.email(placeholder='Email', class='invalid') }}
                            {{ form.email.label() }}
                            {% for error in form.email.errors %}
                                <span class="helper-text">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.email(placeholder='Email') }}
                            {{ form.email.label() }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {% if form.password.errors %}
                            {{ form.password(placeholder='Password', class='invalid') }}
                            {{ form.password.label() }}
                            {% for error in form.password.errors %}
                                <span class="helper-text">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.password(placeholder='Password') }}
                            {{ form.password.label() }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(placeholder='Confirm Password', class='invalid') }}
                            {{ form.confirm_password.label() }}
                            {% for error in form.confirm_password.errors %}
                                <span class="helper-text">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.confirm_password(placeholder='Confirm Password') }}
                            {{ form.confirm_password.label() }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">register
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}