@import "materialize";

$background-color: rgb(70, 70, 70);
$primary-color: #eee;

body {
  /* for sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* setting colors 
  background-color: $background-color;
  color: $primary-color;
  */
}

/* for sticky footer */
main {
  flex: 1 0 auto;
}

/* space between flash message icon and text message */
div.flash > i.material-icons {
  margin-right: 25px;
}

.collapsible-header-post {
  display: block;
}

.collapsible-header-post-icon {
  width: 100% !important;
}
.no-margin-bottom {
  margin-bottom: 0;
}

/* fix padding when sizing tabel tr and th/td with materializecss grid */
table > thead > tr.row > th.col {
  padding-top: 15px;
  padding-bottom: 15px;
}

table > tbody > tr.row > td.col {
  padding-top: 15px;
  padding-bottom: 15px;
}

table {
  table-layout: fixed;
}

table > thead > tr.row.valign-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

table > tbody > tr.row.valign-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}