<template>
        <div class="input-field">
            <input v-bind:id="randomId" type="text">
            <label v-bind:for="randomId">filter</label>
        </div>
</template>

<script>
import Helper from '../../lib/Global.js';

export default {
    data: () => {
        return {
            randomId: 'pagination-input-filter-' + Helper.generateRandomToken()
        }
    }
}
</script>

