<template>
    <div class="input-field">
        <input
            v-bind:id="randomId"
            v-on:keyup="setPageInput"
            type="text"
        >
        <label v-bind:for="randomId">site</label>
    </div>
</template>

<script>
import Helper from '../../lib/Global.js';

export default {
    data: () => {
        return {
            randomId: 'page-input-' + Helper.generateRandomToken()
        }
    },
    computed: {
        pagesCount() {
            return this.$store.getters.pagesCount;
        },
        page() {
            return this.$store.state.page;
        }
    },
    methods: {
        setPage(page) {
            this.$store.commit('setPage', page);
        },
        setPageInput(keyEvent) {
            if(keyEvent.key === "Enter") {
                let page = Number(keyEvent.target.value);
                if(Number.isNaN(page)) {
                    console.error('Cannot read number from input.');
                } else if(page < 1 || page > this.pagesCount) {
                    console.error('Number out of range.');
                } else {
                    this.setPage(page);
                }
                // reset the input value
                keyEvent.target.value = "";
            }
        }
    }
}
</script>
