<template>
    <ul class="pagination">
        <li v-bind:class="{ 'disabled': isChevronLeftDisabled(), 'waves-effect': !isChevronLeftDisabled() }">
            <a v-on:click="decreasePage()">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <li class="waves-effect"
            v-for="page in pagesCount"
            v-bind:page="page"
            v-bind:key="page"
            v-bind:class="{ active: isActive(page) }"
        ><a v-on:click="setPage(page)">{{ page }}</a></li>
        <li v-bind:class="{ 'disabled': isChevronRightDisabled(), 'waves-effect': !isChevronRightDisabled() }">
            <a v-on:click="increasePage()">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
</template>

<script>
export default {
    computed: {
        pagesCount() {
            return this.$store.getters.pagesCount;
        },
        page() {
            return this.$store.state.page;
        }
    },
    methods: {
        setPage(page) {
            this.$store.commit('setPage', page);
        },
        increasePage() {
            if(this.page < this.pagesCount) {
                this.$store.commit('increasePage');
            }
        },
        decreasePage() {
            if(this.page > 1) {
                this.$store.commit('decreasePage');
            }
        },
        isActive(page) {
            if(page === this.page) {
                return true;
            } else {
                return false;
            }
        },
        isChevronLeftDisabled() {
            if(this.page <= 1) {
                return true;
            } else {
                return false;
            }
        },
        isChevronRightDisabled() {
            if(this.page >= this.pagesCount) {
                return true;
            } else {
                return false;
            }
        }
    }
}
</script>

<style scoped>

</style>
