<template>
    <a class="btn-floating waves-effect waves-light blue" v-on:click="refresh()">
        <i class="material-icons">refresh</i>
    </a>
</template>

<script>
import M from 'materialize-css';

export default {
    methods: {
        refresh() {
            // TODO: set loading state = true
            // loading state would be a state!
            this.$store.dispatch("retrievePosts").then((result) => {
                if(result.success) {
                    this.$store.commit("setPage", 1);
                    // TODO: set loading state = false
                    M.toast({html: result.message});
                } else {
                    M.toast({html: result.message});
                }
            });
        }
    }
};
</script>
