<template>
    <div>
        <posts-tools></posts-tools>
        <posts-list></posts-list>
        <posts-tools></posts-tools>
    </div>
</template>

<script>

import PostsTools from './PostsTools.vue';
import PostsList from './PostsList.vue';

export default {
    // don't use arrow syntax here!
    created: function() {
        // retrieve posts and attach them to the elements state
        this.$store.dispatch('retrievePosts');
    },
    components: {
        PostsTools,
        PostsList
    }    
};
</script>

<style scoped>
</style>
