<template>
    <span>
        <a class="btn-floating btn-small waves-effect waves-light blue modal-trigger" v-bind:data-target="randomModalId">
            <i class="material-icons">edit</i>
        </a>
        <div v-bind:id="randomModalId" class="modal">
            <div class="modal-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="title" v-bind:id="randomTitleId" type="text" v-bind:value="post.title">
                        <label v-bind:for="randomTitleId">title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea placeholder="content" v-bind:id="randomContentId" class="materialize-textarea" v-bind:value="post.content"></textarea>
                        <label v-bind:for="randomContentId">Textarea</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">cancle</a>
                <a class="modal-close waves-effect waves-green btn-flat" v-on:click="updatePost()">update</a>
            </div>
        </div>
    </span>
</template>

<script>
import M from 'materialize-css';

import Global from '../../../lib/Global.js';

export default {
    props: [ 'postId' ],
    data: () => {
        return {
            randomModalId: 'posts-button-update-modal-' + Global.generateRandomToken(),
            randomTitleId: 'posts-button-update-title-' + Global.generateRandomToken(),
            randomContentId: 'posts-button-update-content-' + Global.generateRandomToken()
        }
    },
    // don't use arrow syntax here
    mounted: function() {
        let modal = document.getElementById(this.randomModalId);
        // init the modal
        M.Modal.init(modal, {});
        M.updateTextFields();
        M.textareaAutoResize(document.getElementById(this.randomContentId));
    },
    computed: {
        post() {
            return this.$store.getters.getElementById(this.postId);
        }
    },
    methods: {
        updatePost(clickEvent) {
            let titleInput = document.getElementById(this.randomTitleId);
            let contentTextarea = document.getElementById(this.randomContentId);
            let updatedPost = {
                id: this.postId,
                title: titleInput.value,
                content: contentTextarea.value
            }
            this.$store.dispatch("updatePost", { 
                original: this.post,
                updated: updatedPost
            }).then((result) => {
                if(result.success) {
                    M.toast({html: result.message});
                } else {
                    M.toast({html: result.message});
                }
            });
        }
    }
}
</script>
