<template>
    <tr class="row valign-wrapper">
        <td class="col s1">{{ postId }}</td>
        <td class="col s3 truncate">{{ dateFormated }}</td>
        <td class="col s3 truncate">{{ post.title }}</td>
        <td class="col s3 truncate">{{ post.content }}</td>
        <td class="col s2 center-align">
            <posts-button-update v-bind:postId="postId"></posts-button-update>
            <posts-button-delete v-bind:postId="postId"></posts-button-delete>
        </td>
    </tr>
</template>

<script>
import Helper from '../../../lib/Global.js';

import PostsButtonUpdate from './PostsButtonUpdate.vue';
import PostsButtonDelete from './PostsButtonDelete.vue';

export default {
    props: ['postId'],
    components: {
        PostsButtonUpdate,
        PostsButtonDelete
    },
    computed: {
        post() {
            return this.$store.getters.getElementById(this.postId);
        },
        dateFormated() {
            return Helper.formatDate(this.post.date_posted);
        }
    }
}
</script>
