<template>
    <table class="highlight">
        <thead>
            <tr class="row valign-wrapper">
                <th class="col s1">id</th>
                <th class="col s3">date posted</th>
                <th class="col s3">title</th>
                <th class="col s3">content</th>
                <th class="col s2">tools</th>
            </tr>
        </thead>
        <tbody>
            <posts-list-element
                v-for="post in postsForPage"
                v-bind:key="post.id"
                v-bind:postId="post.id"
            ></posts-list-element>
        </tbody>
    </table>
</template>

<script>
import PostsListElement from './PostsListElement.vue';

export default {
    components: {
        PostsListElement
    },
    computed: {
         postsForPage() {
            return this.$store.getters.elementsForPage;
        }
    }
}
</script>

