<template>
    <span>
        <a class="btn-floating waves-effect waves-light green modal-trigger" v-bind:data-target="randomModalId">
            <i class="material-icons">add</i>
        </a>
        <div v-bind:id="randomModalId" class="modal">
            <div class="modal-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="title" v-bind:id="randomTitleId" type="text">
                        <label v-bind:for="randomTitleId">title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea placeholder="content" v-bind:id="randomContentId" class="materialize-textarea"></textarea>
                        <label v-bind:for="randomContentId">content</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat" v-on:click="clearForm()">cancle</a>
                <a class="modal-close waves-effect waves-green btn-flat" v-on:click="createPost()">post</a>
            </div>
        </div>
    </span>
</template>

<script>
import M from 'materialize-css';

import Helper from '../../../lib/Global.js';

export default {
    data: () => {
        return {
            randomModalId: 'posts-button-create-modal-' + Helper.generateRandomToken(),
            randomTitleId: 'posts-button-create-title-' + Helper.generateRandomToken(),
            randomContentId: 'posts-button-create-content-' + Helper.generateRandomToken()
        }
    },
    // don't use arrow syntax here
    mounted: function() {
        let modal = document.getElementById(this.randomModalId);
        // init the modal
        let component = this;
        M.Modal.init(modal, {
            onCloseEnd: () => {
                component.clearForm();
            }
        });
    },
    methods: {
        createPost(clickEvent) {
            let modal = document.getElementById(this.randomModalId);
            let titleInput = document.getElementById(this.randomTitleId);
            let contentTextarea = document.getElementById(this.randomContentId);
            // check if data is provided... if not nont dispatch action
            let post = {
                title: titleInput.value,
                content: contentTextarea.value
            }
            this.$store.dispatch("createPost", post).then((result) => {
                if(result.success) {
                    M.toast({html: result.message});
                } else {
                    M.toast({html: result.message});
                }
            });
        },
        clearForm() {
            let titleInput = document.getElementById(this.randomTitleId);
            let contentTextarea = document.getElementById(this.randomContentId);
            titleInput.value = '';
            contentTextarea.value = '';
        }
    }
}
</script>
