<template>
    <div class="row valign-wrapper no-margin-bottom">
        <div class="col s2">
            <posts-button-create></posts-button-create>
            <posts-button-refresh></posts-button-refresh>
        </div>
        <div class="col s7 center-align">
            <pagination></pagination>
        </div>
        <div class="col s1 left-align">
            <page-input></page-input>
        </div>
        <div class="col s2 left-align">
            <elements-filter></elements-filter>
        </div>
    </div>
</template>

<script>
import Pagination from '../../lib/Pagination.vue';
import PageInput from '../../lib/PageInput.vue';
import ElementsFilter from '../../lib/ElementsFilter.vue';

import PostsButtonCreate from './PostsButtonCreate.vue';
import PostsButtonRefresh from './PostsButtonRefresh.vue';

export default {
    components: {
        Pagination,
        PageInput,
        ElementsFilter,
        PostsButtonCreate,
        PostsButtonRefresh
    }
}
</script>
