<template>
    <span>
        <a class="btn-floating btn-small waves-effect waves-light red modal-trigger" v-bind:data-target="randomModalId">
            <i class="material-icons">delete</i>
        </a>
        <div v-bind:id="randomModalId" class="modal">
            <div class="modal-content">
                <h4>Are you shure?</h4>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">cancle</a>
                <a class="modal-close waves-effect waves-green btn-flat" v-on:click="deletePost()">delete</a>
            </div>
        </div>
    </span>
</template>

<script>
import M from 'materialize-css';

import Global from '../../../lib/Global.js';

export default {
    props: [ 'postId' ],
    data: () => {
        return {
            randomModalId: 'posts-button-delete-modal-' + Global.generateRandomToken()
        }
    },
    // don't use arrow syntax here
    mounted: function() {
        let modal = document.getElementById(this.randomModalId);
        // init the modal
        M.Modal.init(modal, {});
    },
    computed: {
        post() {
            return this.$store.getters.getElementById(this.postId);
        }
    },
    methods: {
        deletePost(clickEvent) {
            this.$store.dispatch("deletePost", this.post).then((result) => {
                if(result.success) {
                    M.toast({html: result.message});
                } else {
                    M.toast({html: result.message});
                }
            });
        }
    }
}
</script>
